/* navbar css */
.navbar {
  height: 60px;
  width: 1920px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

}

.aboutme {
  width: 149px;
  height: 45px;
  left: calc(50% - 149px/2 + 167.5px);
  top: 45px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;
}

.logo {
  height: 47.58003616333008px;
  width: 47.58003616333008px;
  left: 131.70993041992188px;
  top: 44.71000671386719px;
  border-radius: 0px;
  padding-top: 0.5rem;
  margin-left: 1rem;

}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  margin-left: 25rem;
}

.github {
  width: 32px;
  height: 32px;
  left: calc(50% - 32px/2 + 692px);
  top: 52px;
}

.linkedInIcon {
  width: 32px;
  height: 32px;
  left: calc(50% - 32px/2 + 753px);
  top: 52px;


  border-radius: 3px;
}

.projects {
  width: 121px;
  height: 45px;
  left: calc(50% - 121px/2 - 365.5px);
  top: 46px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;
}

.navigationPage {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  margin-left: 25rem;

}

.technologies {
  width: 202px;
  height: 45px;
  left: calc(50% - 202px/2 - 106px);
  top: 46px;
  padding-left: 1rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;
}

.Portfolio {
  width: 124px;
  height: 45px;
  left: calc(50% - 124px/2 - 706px);
  top: 46px;
  padding-top: 0.5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;


}

/* hero section css */
.hero {
  color: #FFFFFF;
  width: 1801px;
  height: 792px;
  left: 192px;
  top: 294px;
  margin-top: 5rem;


}

.btn {
  width: 280px;
  height: 80px;
  left: 149px;
  top: 399px;

  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.btnPara {
  width: 153px;
  height: 42px;
  left: 212px;
  top: 418px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-left: 4rem;
  padding-top: 1rem;
  /* identical to box height */


  color: #FFFFFF;
}

.heading {
  width: 890px;
  height: 96px;
  left: 192px;
  top: 294px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
}

.para {
  width: 1100px;
  height: 500px;
  left: 254px;
  top: 424px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;

  color: #BCBCBC;
}

/* projects css */
.Projects {
  width: 1428px;
  height: 1686px;
  left: 192px;
  top: 994px;
  color: white;
  margin-top: 5rem;
}

.headingProject {
  width: 262px;
  height: 96px;
  left: 192px;
  top: 994px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}

.project {
  display: flex;

}

.project1 {
  width: 550px;
  height: 700px;
  left: 250px;
  top: 1183px;


  filter: drop-shadow(0px 4px 4px rgba(221, 29, 29, 0.757));
}

.rectangle {
  width: 550px;
  height: 750px;
  left: 300px;
  top: 1183px;

  background: #0F1624;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 50px 0px;
}

.img {

  left: 325px;
  top: 1208px;
  padding-left: 2rem;
  padding-top: 2rem;


  border-radius: 8px;
}

.projectHeading {
  width: 183px;
  height: 32px;
  left: 483px;
  top: 1499px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 88.5%;
  padding-left: 6rem;
  padding-top: 2rem;
  /* identical to box height, or 32px */


  color: #FFFFFF;
}

.project2 {
  margin-left: 5rem;
}

.breakingLine {
  width: 400px;
  height: 4px;
  left: 425px;
  top: 1556px;
  margin-top: 3rem;
  margin-left: 5rem;

  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.projectPara {
  width: 500px;
  height: 168px;
  left: 325px;
  top: 1585px;
  padding-left: 2rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;

  color: #FFFFFF;
}

.ProjectBtn {
  width: 200px;
  height: 60px;
  left: 325px;
  top: 1778px;
  margin-left: 1.5rem;


  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.btnParaProject {
  width: 150px;
  height: 30px;
  left: 377px;
  top: 1793px;
  margin-left: 2rem;
  padding-top: 0.8rem;
  margin-top: 4rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */


  color: #FFFFFF;
}