/* navbar css */

.navbar {
  height: 60px;
  width: 1420px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  box-shadow: 0px 0px 3px 1px #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(221, 29, 29, 0.757));

}

.aboutme {
  width: 149px;
  height: 45px;
  left: calc(50% - 149px/2 + 167.5px);
  top: 45px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;
}

.logo {
  height: 47.58003616333008px;
  width: 47.58003616333008px;
  left: 131.70993041992188px;
  top: 44.71000671386719px;
  border-radius: 0px;
  padding-top: 0.5rem;
  margin-left: 1rem;

}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  margin-left: 20rem;
}

.github {
  width: 32px;
  height: 32px;
  left: calc(50% - 32px/2 + 692px);
  top: 52px;
}

.linkedInIcon {
  width: 32px;
  height: 32px;
  left: calc(50% - 32px/2 + 753px);
  top: 52px;


  border-radius: 3px;
}

.projects {
  width: 121px;
  height: 45px;
  left: calc(50% - 121px/2 - 365.5px);
  top: 46px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;
}

.navigationPage {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  margin-left: 20rem;

}

.technologies {
  width: 202px;
  height: 45px;
  left: calc(50% - 202px/2 - 106px);
  top: 46px;
  padding-left: 1rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */


  color: #FFFFFF;
}

.Portfolio {
  width: 124px;
  height: 45px;
  left: calc(50% - 124px/2 - 706px);
  top: 46px;
  padding-top: 0.5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  /* identical to box height */


  color: #FFFFFF;


}

/* hero section css */
.hero {
  color: #FFFFFF;
  width: 1801px;
  height: 792px;
  left: 192px;
  top: 294px;
  margin-top: 5rem;




}

.btn {
  width: 280px;
  height: 80px;
  left: 149px;
  top: 399px;

  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.btnPara {
  width: 153px;
  height: 42px;
  left: 212px;
  top: 418px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-left: 4rem;
  padding-top: 1rem;
  /* identical to box height */


  color: #FFFFFF;
}

.heading {
  width: 890px;
  height: 96px;
  left: 192px;
  top: 294px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
}

.para {
  width: 1100px;
  height: 500px;
  left: 254px;
  top: 424px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;

  color: #BCBCBC;
}

/* projects css */
.Projects {
  width: 1428px;
  height: 1850px;
  left: 192px;
  top: 994px;
  color: white;
  margin-top: 5rem;
}

.headingProject {
  width: 262px;
  height: 96px;
  left: 192px;
  top: 994px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}

.project {
  display: flex;
  margin-top: 5rem;

}

.project1 {
  width: 550px;
  height: 700px;
  left: 250px;
  top: 1183px;


  filter: drop-shadow(0px 4px 4px rgba(221, 29, 29, 0.757));
}

.rectangle {
  width: 550px;
  height: 750px;
  left: 300px;
  top: 1183px;

  background: #0F1624;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 50px 0px;
}

.img {

  left: 325px;
  top: 1208px;
  padding-left: 2rem;
  padding-top: 2rem;


  border-radius: 8px;
}

.projectHeading {
  width: 183px;
  height: 32px;
  left: 483px;
  top: 1499px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 88.5%;
  padding-left: 6rem;
  padding-top: 2rem;
  /* identical to box height, or 32px */


  color: #FFFFFF;
}

.project2 {
  margin-left: 5rem;
}

.breakingLine {
  width: 400px;
  height: 4px;
  left: 425px;
  top: 1556px;
  margin-top: 3rem;
  margin-left: 5rem;

  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.projectPara {
  width: 500px;
  height: 168px;
  left: 325px;
  top: 1585px;
  padding-left: 2rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;

  color: #FFFFFF;
}

.ProjectBtn {
  width: 200px;
  height: 60px;
  left: 325px;
  top: 1778px;
  margin-left: 1.5rem;


  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.btnParaProject {
  width: 150px;
  height: 30px;
  left: 377px;
  top: 1793px;
  margin-left: 2rem;
  padding-top: 0.8rem;
  margin-top: 4rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */


  color: #FFFFFF;
}

/* Technology css */
.TechnologiesHeading {
  width: 435px;
  height: 96px;
  left: 192px;
  top: 3009px;
  margin-left: 4rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */


  color: #FFFFFF;
}

.skills {
  width: 1320px;
  height: 1150px;
  left: 300px;
  top: 3238px;

}

.html {
  width: 88px;
  height: 54px;
  left: 325px;
  top: 3238px;
  padding-top: 1.3rem;
  padding-left: 1rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */


  color: #FFFFFF;
}

.advance {
  width: 126px;
  height: 36px;
  left: 1428px;
  top: 3256px;
  padding-top: 2rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */


  color: #FFFFFF;
}

.indicator {
  width: 1320px;
  height: 32.3px;
  left: 300px;
  top: 3292px;

}

.technologiesNmae {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-top: 2rem;
}

.rectangle1 {
  width: 1100px;
  height: 32.3px;
  left: 300px;
  top: 3292px;

  background: #162950;
  border-radius: 83px;
  padding-top: 2rem;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

.rectangle2 {
  width: 800px;
  height: 32px;
  left: 300px;
  top: 3292px;




  border-radius: 83px;
}

/* AddtionalSkills css */
.AdditionalSkill {
  width: 1320px;
  height: 450.3px;
  left: 300px;
  top: 3238px;
}

.AdditionalSkillHeading {
  width: 822px;
  height: 72px;
  left: 192px;
  top: 4303px;
  margin-left: 5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */


  color: #FFFFFF;
}

.li {
  width: 106px;
  height: 54px;
  left: 300px;
  top: 4457px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */


  color: #FFFFFF;
}

.ul {
  margin-left: 5rem;
}

.list {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

/* about page css */
.About {
  width: 1659px;
  height: 597px;
  left: 142px;
  top: 5012px;
}

.abotHeading {
  width: 319px;
  height: 96px;
  left: 192px;
  top: 5012px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */


  color: #FFFFFF;
}

.year {
  width: 1120px;
  display: flex;
  justify-content: space-between;
}

.currentYear {
  width: 78px;
  height: 54px;
  left: 1565px;
  top: 5195px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */


  color: #FFFFFF;
}

.timeline {

  width: 1320px;
  height: 32px;
  left: 300px;
  top: 5249px;
}

.rectangle5 {
  display: flex;

  padding-bottom: 1rem;
  justify-content: space-between;
  width: 1125px;
  height: 12px;
  left: 315px;
  top: 5259px;

  background: #FFFFFF;
}

.ellipse {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  left: 300px;
  top: 5249px;

  background: #FFFFFF;
}

.experience {
  display: flex;
  padding-right: 1rem;

}

.experienceHeading {
  width: 394px;
  height: 328px;
  left: 1407px;
  top: 5281px;
  margin-top: 1rem;
  padding-right: 4rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;

  color: #FFFFFF;
}

/* footer css */
.Footer {
  display: flex;
  width: 1150px;
  height: 126px;
  left: 259px;
  top: 5954px;


}

.call {
  height: 126px;
  left: 259px;
  top: 5954px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.email {
  width: 288px;
  height: 126px;
  left: 665px;
  top: 5954px;
  margin-left: 2rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.group21 {
  display: flex;
  margin-left: 20rem;
  padding-left: 9rem;
  margin-top: 3rem;
  width: 348px;
  height: 72px;
  left: 1312px;
  top: 5981px;
}

.github1 {
  width: 72px;
  height: 72px;
  left: calc(50% - 72px/2 + 388px);
  top: 5981px;
  color: white;

}

.linkedin1 {
  width: 72px;
  height: 72px;
  left: calc(50% - 72px/2 + 525px);
  top: 5981px;
  color: white;
  border-radius: 3px;
}



/* media quaries for tablet screen 780px */




@media screen and (min-width:768px) and (max-width:1023px){

  /* navbar css for 768px screen */
  .navbar {
    height: 70px;
    width: 665px;
  }

  .navigationPage {
    display: none;
  }



  /* hero section css  */
  .hero {
    color: #FFFFFF;
    width: 665px;
    height: 792px;
    left: 192px;
    top: 294px;
    margin-top: 5rem;

  }

  .btn {
    width: 280px;
    height: 80px;
    margin-top: 12rem;

  }

  .para {
    width: 660px;
    height: 500px;

  }

  /* project section media quaries */

  .Projects {
    width: 660px;
    height: 3500px;
    left: 192px;
    top: 994px;
    color: white;
    margin-top: 10rem;
  }


  .project {
    display: flex;
    flex-direction: column;

  }

  .project2 {
    margin-left: 0rem;
    margin-top: 7rem;
  }

  /* technologies css */


  .TechnologiesHeading {
    width: 435px;
  }

  .skills {
    width: 640px;
    height: 1150px;

  }

  .rectangle {
    margin-left: 3rem;
  }

  .rectangle1 {
    width: 630px;
  }

  .technologiesNmae {

    width: 640px;

  }


  /* Addition skill */

  .AdditionalSkill {
    width: 650px;
    height: 450.3px;
    left: 300px;
    top: 3238px;
  }

  .AdditionalSkillHeading {
    width: 822px;
    height: 72px;
    font-size: 40px;
    line-height: 65px;

  }




  /* about page css */



  .About {
    width: 650px;
    height: 1100px;
    left: 142px;
    top: 5012px;
  }


  .year {
    width: 650px;
    display: flex;
    justify-content: space-between;
  }


  .timeline {

    width: 650px;

  }

  .rectangle5 {
    display: flex;

    padding-bottom: 1rem;
    justify-content: space-between;
    width: 650px;

  }



  .experienceHeading {
    width: 394px;
    height: 328px;
    left: 1407px;
    top: 5281px;
    margin-top: 1rem;
    padding-right: 4rem;
    padding-left: 2rem;

  }

  /* footer media quaries for tablet */

  .Footer {
    display: flex;
    width: 650px;
    height: 126px;
    left: 259px;
    top: 5954px;


  }

  .call {
    height: 100px;
    left: 259px;
    top: 5954px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    color: #FFFFFF;
  }

  .email {
    width: 100px;
    height: 126px;
    left: 665px;
    top: 5954px;
    margin-left: 2rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    color: #FFFFFF;
  }

  .group21 {
    display: flex;
    margin-left: 7rem;
    padding-left: 9rem;
    margin-top: 2rem;
    width: 348px;
    height: 72px;
    left: 1312px;
    top: 5981px;
  }







}